<link rel="stylesheet" href="css/profildokter.css">


<nav class="navbar navbar-expand-sm fixed-top bg-green">
        <a class="navbar-brand" href="index.html">LOGO</a>
        <ul class="nav">
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><img src="https://amp.businessinsider.com/images/5899ffcf6e09a897008b5c04-750-750.jpg" class="img-fluid" alt="Profile Image"> Hi, Arief</a>
                  <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Logout</a>
                  </div>
            </li>
        </ul>
    </nav>
    <main class="container">
        <div class="row">
            <div class="profile col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="image col-xl-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="img-content">
                            <img class="img-fluid" src="https://amp.businessinsider.com/images/5899ffcf6e09a897008b5c04-750-750.jpg" alt="Doctor Image">
                        </div>
                    </div>
                    <div class="info col-xl-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <p class="name">{{nama_dokter}}</p>
                        <p class="spesialisasi"><i class="fas fa-briefcase-medical fa-lg"></i>{{spesialist_dokter}}</p>
                        <p class="lokasi"><i class="fas fa-map-marker-alt fa-lg"></i>{{alamat_dokter}}</p>
                    </div>
                    <div class="score col-xl-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="score-content"><p>{{rating_dokter}}</p></div>
                    </div>
                    <div class="pesan col-xl-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <a class="btn" href="pesan.html">pesan</a>
                    </div>
                </div>
            </div>
            <div class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" data-toggle="pill"  ng-class="{ active: isSet(1) }" ng-click="setTab(1)">review</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="pill" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">informasi</a></li>
                </ul>
                <div class="tab-content">
                    <section class="tab-pane container" id="review" ng-class="{ active: isSet(1) }" ng-show="isSet(1)">
                        <div class="row">
                            <div class="review-content col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-repeat="data in Review_pasien">
                                <div class="profile">
                                    <p><b>{{data.nama_pasien}}</b>{{data.rating_pasien}}</p>
                                </div>
                                <div class="review-text">
                                    <p>{{data.review_pasien}}</p>
                                </div>
                        </div>

                        </div>
                    </section>
                    <section class="tab-pane container" id="info" ng-class="{ active: isSet(2) }" ng-show="isSet(2)"> 
                        <div class="schedule">
                            <p>Jadwal Praktik</p>
                            <p class="font-weight-bold">11:00 - 12:00</p>
                        </div>
                        <div class="experience">
                            <p>Pengalaman :</p>
                            <p class="font-weight-bold">jadi bidan</p>
                        </div>
                        <div class="provide">
                            <p>layanan</p>
                            <p class="font-weight-bold">Cek darah</p>
                        </div>
                        <div class="education">
                            <p>Pendidikan</p>
                            <p class="font-weight-bold">sdn 10</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        
    </main>