<link rel="stylesheet" href="css/dashboarddokter.css">


<!-- NAVIGASI-->
<nav class="navbar navbar-expand-sm fixed-top bg-green">
    <a class="navbar-brand" href="home.html">LOGO</a>
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><img src="asset/sule-kecewa_20160621_214123.jpg"
                    alt="Profile Image"> Hi, Arief</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" ng-click="logout()">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<main class="container-fluid">
    <div class="row">
</div>
</main>